<div class="container min-vh-100">
    <h1 class="text-center">Search by Tag</h1>

    <div class="text-center">
        <%= form_with model: @search do |f| %>
            <%= f.text_field :name, placeholder: "Enter a tag" %>

            <%= f.submit "Search" %>
        <% end %>

        <p><%= link_to "Back", '/groups' %></p>
    </div>
</div>