<nav class="navbar navbar-dark bg-primary justify-content-center p-3 mt-5"> 
    <footer class="text-white justify-content-center">
      <small>Copyright &copy;<%= Time.current.year %> Bundl</small>
    </footer>
</nav>